* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", sans-serif;
  color: #666;
}

a {
  text-decoration: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
}

.viewport {
  width: calc(100% - $sidebar-width);
  height: 100%;
  margin-left: 150px;
}

.main-content {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
.main-content::after {
  clear: both;
  content: "";
  display: block;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.card-group {
  background-color: #f7f7f7;
}
.card-group .wrapper {
  padding: 30px 0 10px 0;
}
.card-group .wrapper::after {
  clear: both;
  content: "";
  display: block;
}

.best-in {
  background-color: #fff;
}
.best-in .wrapper {
  padding: 30px 0;
}
.best-in .wrapper::after {
  clear: both;
  content: "";
  display: block;
}

.exclusives {
  background-color: #fff;
}
.exclusives .wrapper {
  padding: 30px 0;
}
.exclusives .wrapper::after {
  clear: both;
  content: "";
  display: block;
}

.last {
  padding-bottom: 70px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 58px;
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  width: 80px;
  margin: -2.5px 0;
  margin-right: 15px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid transparent;
  height: 12px;
  width: 5px;
  border-radius: 0px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid transparent;
  height: 12px;
  width: 5px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid transparent;
  width: 5px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  height: 1px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

button {
  padding: 10px 0;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.side-bar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #000;
  font-size: 14px;
  padding: 21px 25px;
}
.side-bar .search-icon {
  display: inline-block;
  background-image: url("../img/sidebar/search.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.side-bar a:hover .search-icon {
  background-image: url("../img/sidebar/search-white.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
}
.side-bar .featured-icon {
  display: inline-block;
  background-image: url("../img/sidebar/featured.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.side-bar a:hover .featured-icon {
  background-image: url("../img/sidebar/featured-white.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
}
.side-bar .music-icon {
  display: inline-block;
  background-image: url("../img/sidebar/music.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.side-bar a:hover .music-icon {
  background-image: url("../img/sidebar/music-white.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
}
.side-bar .videos-icon {
  display: inline-block;
  background-image: url("../img/sidebar/videos.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.side-bar a:hover .videos-icon {
  background-image: url("../img/sidebar/videos-white.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
}
.side-bar .people-icon {
  display: inline-block;
  background-image: url("../img/sidebar/people.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.side-bar a:hover .people-icon {
  background-image: url("../img/sidebar/people-white.svg");
  background-size: 16px 16px;
  background-position: center;
  height: 16px;
  width: 16px;
}
.side-bar .brand {
  background-image: url("../img/sidebar/brand.svg");
  background-size: 100px 42px;
  background-position: center;
  height: 42px;
  width: 100px;
  margin-top: -10px;
  margin-bottom: 15px;
}
.side-bar ul {
  list-style-type: none;
}
.side-bar ul li {
  margin: 10px 0;
}
.side-bar ul a {
  color: #666;
}
.side-bar ul a.active {
  color: #fff;
}
.side-bar ul a:hover {
  color: #fff;
}
.side-bar ul .nav-header {
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
}
.side-bar button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}
.side-bar button[name="sign-up"] {
  margin-top: 60px;
  font-weight: 700;
}
.side-bar button:hover, .side-bar button:active, .side-bar button[name="sign-in"]:hover, .side-bar button[name="sign-in"]:active {
  background: #fff;
  color: black;
}
.side-bar button[name="sign-in"] {
  border: none;
  color: #666;
}
.side-bar .side-bar-footer {
  position: fixed;
  bottom: 70px;
  left: 25px;
  height: auto;
  width: 100px;
  font-size: 11px;
}
.side-bar .side-bar-footer ul {
  margin-bottom: 15px;
}
.side-bar .side-bar-footer ul li {
  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
}

.connect-icon {
  position: relative;
  border: none;
  background-color: #272727;
  height: 24px;
  width: 24px;
  padding: 0;
  top: 3px;
}
.connect-icon span {
  display: inline-block;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  height: 12px;
  width: 12px;
  line-height: 12px;
  position: relative;
}
.connect-icon span:first-child {
  top: 1px;
  left: 3px;
}
.connect-icon span:last-child {
  top: 1px;
  right: 3px;
}

.footer {
  background-color: #272727;
}
.footer .controls {
  height: 34px;
  width: 95%;
  margin: 12px auto 0;
  background-color: #1d1d1d;
  border-radius: 3px;
}
.footer .controls::after {
  clear: both;
  content: "";
  display: table;
}
.footer .controls .play-controls {
  float: left;
}
.footer .controls .play-controls .rewind-icon {
  background-image: url("../img/footer/rewind.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: #272727;
  margin-top: 5px;
}
.footer .controls .play-controls .play-icon {
  background-image: url("../img/footer/play.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: #272727;
  margin-top: 5px;
}
.footer .controls .play-controls .forward-icon {
  background-image: url("../img/footer/forward.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: #272727;
  margin-top: 5px;
}
.footer .controls .play-controls .rewind-icon {
  margin-left: 5px;
}
.footer .controls .mode-controls {
  float: right;
}
.footer .controls .mode-controls .shuffle-icon {
  background-image: url("../img/footer/shuffle.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  height: 24px;
  width: 24px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer .controls .mode-controls .repeat-icon {
  background-image: url("../img/footer/repeat.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  height: 24px;
  width: 24px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer .controls .volume-controls {
  float: right;
}
.footer .controls .volume-controls .speaker-icon {
  background-image: url("../img/footer/speaker.png");
  background-size: 24px 24px;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  height: 24px;
  width: 24px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer .controls .now-playing span {
  display: inline-block;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 5px;
}

.hero {
  width: 100%;
  background-color: white;
}
.hero .main-square {
  background-color: green;
  width: calc(70% - 4px);
  height: 100%;
  float: left;
  position: relative;
  color: white;
}
.hero .main-square img {
  height: 100%;
  width: 100%;
}
.hero .main-square .caption {
  position: absolute;
  bottom: 10%;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .hero .main-square .caption h2 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1220px) {
  .hero .main-square .caption h2 {
    font-size: 40px;
  }
}
.hero .main-square h2 {
  font-size: 20px;
}
.hero .top-square {
  background-color: red;
  height: calc(50% - 2px);
  width: 30%;
  float: right;
  margin-bottom: 4px;
}
.hero .top-square img {
  height: 100%;
  width: 100%;
}
.hero .bottom-square {
  background-color: blue;
  height: calc(50% - 2px);
  width: 30%;
  float: right;
}
.hero .bottom-square img {
  height: 100%;
  width: 100%;
}

.content-nav {
  height: 80px;
  width: 100%;
}
.content-nav .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-nav a {
  color: black;
  text-transform: uppercase;
}

.card-group .card {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  min-height: 410px;
  background-color: white;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .card-group .card {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1220px) {
  .card-group .card {
    min-height: 450px;
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
  }
}
.card-group .card .card-image {
  position: relative;
}
.card-group .card .card-image img {
  height: auto;
  width: 100%;
}
.card-group .card .card-image span {
  position: absolute;
  bottom: 10%;
  left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 1px black;
}
.card-group .card .card-content {
  padding: 20px;
}
.card-group .card .card-content h3 {
  color: black;
}
.card-group .card .card-content p {
  font-weight: 300;
  opacity: 0.5;
  margin-top: 20px;
}

.best-in {
  text-align: center;
  color: black;
}
.best-in h2 {
  padding-top: 30px;
}
.best-in .best-in-card {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  min-height: 330px;
}
@media screen and (min-width: 768px) {
  .best-in .best-in-card {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    min-height: 320px;
  }
}
@media screen and (min-width: 1220px) {
  .best-in .best-in-card {
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
  }
}
.best-in .best-in-card img {
  width: 100%;
}
.best-in .best-in-card a {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
  color: #008dde;
}
.best-in .best-in-card a:hover {
  color: #45bbff;
}
.best-in .best-in-card p {
  font-size: 12px;
  padding-bottom: 65px;
}
.best-in .best-in-card .connect-icon {
  width: 100%;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  height: 45px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
}
.best-in .best-in-card .connect-icon span {
  border-color: rgba(0, 0, 0, 0.4);
  height: 14px;
  width: 14px;
}
.best-in .best-in-card .connect-icon span:last-child {
  margin-right: 5px;
}
.best-in p {
  display: block;
}
.best-in .sign-up {
  border-color: black;
  color: black;
  font-size: 16px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.best-in .sign-up:hover, .best-in .sign-up:active {
  background-color: black;
  color: white;
}

.exclusives h3 {
  color: black;
  font-weight: 300;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  display: inline-block;
}
.exclusives .exclusive-video {
  background-color: black;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.exclusives .exclusive-video embed,
.exclusives .exclusive-video object,
.exclusives .exclusive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .exclusives .exclusive-video {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 28.125%;
  }
}

/*# sourceMappingURL=styles.css.map */
