.best-in {
  text-align: center;
  color: black;

  h2 {
    padding-top: 30px;
  }

  .best-in-card {
    @include grid-column(12);
    margin-bottom: 20px;
    position: relative;
    min-height: 330px;


    @include tablet-breakpoint {
      @include grid-column(4);
      min-height: 320px;
    }

    @include desktop-breakpoint {
      @include grid-column(2);
    }

    img {
      width: 100%;
    }

    a {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 20px;
      display: inline-block;
      font-weight: bold;
      color: #008dde;

      &:hover {
        color: lighten(#008dde, 20%);
      }
    }

    p {
      font-size: 12px;
      padding-bottom: 65px;
    }

    .connect-icon {
      width: 100%;
      background-color: #e6e6e6;
      color: rgba(0,0,0,0.4);
      font-size: 14px;
      line-height: 14px;
      font-weight: $font-weight-bold;
      height: 45px;
      border-radius: 3px;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;

      span {
        border-color: rgba(0,0,0,0.4);
        @include size(14px);
      }
      span:last-child {
        margin-right: 5px;
      }

      &:hover {
        background-color: darken(#e6e6e6, 20%);
      }
    }
  }

  p {
    display: block;
  }

  .sign-up {
    border-color: black;
    color: black;
    font-size: 16px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;

    &:hover, &:active {
      background-color: black;
      color: white;
    }
  }
}
