.content-nav {
  @include size(100% 80px);
  position: relative;

  .wrapper {
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .down-triangle {
      @include triangle(24px, black, down);
      position: absolute;
      right: 20px;
      top: 36px;
    }
    .up-triangle {
      display: none;
      @include triangle(24px, black, up);
      position: absolute;
      right: 20px;
      top: 34px;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 40px;
    // margin-right: 30px;
    &:after {
      content: ' // ';
      margin: 0 10px;
    }
  }

  a {
    color: black;
    text-transform: uppercase;

    &:hover {
      background-color: #ccc;
    }
  }
}
