.content-nav {
  @include size(100% auto);

  .wrapper {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul {
    list-style-type: none;
  }

  .hidden-nav {
    background-color: green;
  }

  .visible-nav {
    background-color: blue;
  }

  li {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 40px;
    margin-right: 30px;
  }

  a {
    color: black;
    text-transform: uppercase;

    &:hover {

    }
  }
}
