.content-nav {
  @include size(100% 80px);

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color: black;
    text-transform: uppercase;

    &:hover {
      
    }
  }
}
