$hero-width: 100%;
$main-square-width: calc(70% - 4px);
$sub-square-width: 30%;
$sub-square-height: calc(50% - 2px);

.hero {
  width: $hero-width;
  background-color: white;
  .main-square {
    background-color: green;
    width: $main-square-width;
    height: 100%;
    float: left;
    position: relative;
    color: white;

    img {
      @include size(100%);
    }

    .caption {
      position: absolute;
      bottom: 10%;
      left: 20px;

      @include tablet-breakpoint {
        h2 {
          font-size: 25px;
          text-shadow: 0 0 2px black;
        }
      }
      @include desktop-breakpoint {
        h2 {
          font-size: 40px;
        }
      }
    }

    h2 {
      font-size: 20px;
    }
  }

  .top-square {
    background-color: red;
    @include size($sub-square-width $sub-square-height);
    float: right;
    margin-bottom: 4px;

    img {
      @include size(100%);
    }
  }

  .bottom-square {
    background-color: blue;
    @include size($sub-square-width $sub-square-height);
    float: right;

    img {
      @include size(100%);
    }
  }
}
