$sidebar-width: 150px;
$viewport-width: calc(100% - $sidebar-width);
$viewport-height: 100%;

.viewport {
  width: $viewport-width;
  height: $viewport-height;
  margin-left: $sidebar-width;
}

.main-content {
  @include grid-container;
  @include size(100% 100%);
  margin-top: 20px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.card-group {
  background-color: #f7f7f7;

  .wrapper {
    @include grid-container;
    padding: 30px 0 10px 0;
  }
}
.best-in {
  background-color: #fff;

  .wrapper {
    @include grid-container;
    padding: 30px 0;
  }
}

.exclusives {
  background-color: #fff;

  .wrapper {
    @include grid-container;
    padding: 30px 0;
  }
}

.last {
  padding-bottom: 70px;
}
